CONFIG_BO_DFU_GPIO_DN=25
CONFIG_BO_DFU_GPIO_DP=26
CONFIG_BO_DFU_USE_EN=y
CONFIG_BO_DFU_GPIO_EN=27
CONFIG_BO_DFU_DEFAULT=y
CONFIG_BO_DFU_DEFAULT_USE_ENTRY_BUTTON=n
CONFIG_BO_DFU_DEFAULT_USE_EXIT_BUTTON=y
CONFIG_BO_DFU_GPIO_EXIT_BUTTON=0
CONFIG_BO_DFU_EXIT_BUTTON_IDLE_LEVEL=1
CONFIG_BO_DFU_EXIT_BUTTON_HOLD_DURATION_MS=3000
CONFIG_BO_DFU_DEFAULT_USE_INACTIVITY_TIMEOUT=y
CONFIG_BO_DFU_INACTIVITY_TIMEOUT_S=300
CONFIG_BO_DFU_DEFAULT_USE_COMPLETE_DELAY=y
CONFIG_BO_DFU_COMPLETE_TIMEOUT_MS=5000

CONFIG_BOOTLOADER_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_BOOTLOADER_LOG_LEVEL_INFO=y

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_TWO_OTA=y
CONFIG_PARTITION_TABLE_OFFSET=0xa000
